body {
  display: inline-block;
  margin: 20px;
}
.logo {
  display: inline-block;
  padding: 20px;
  border: 2px solid black;
  font-size: 20px;
}

.button {
  background-color: gray;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid black;
  height: 55px;
  width: 130px;
}

.button:hover {
  background-color: gainsboro;
}

.active {
  background-color: #f08804;
}

.buttonClass {
  display: inline-block;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 100px;
  left: 60px;
}

.input {
  margin-bottom: 16px;
  margin: 10px 0px 0px 40px;
}

button {
  background-color: #f08804;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: #fff;
}

#testShareChart {
  width: 100%;
  height: 300px;
}

.logo {
  border: 2px solid black;
  width: 100px;
  height: 1%;
  padding: 10px 10px 30px 10px;
  margin: 10px 10px 10px 20px;
  text-align: center;
  font-size: 20px;
}

.consultContainer {
  border: 2px solid black;
  width: 49%;
  height: 600px;
  margin-top: 1px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testShare {
  font-weight: bold;
  margin-top: 40px;
  margin-left: -40px;
}

.prescriptionForm {
  border: 2px solid black;
  width: 49%;
  height: 171px;
  margin-top: 10px;
  padding-left: 10px;
}

.consultForm {
  border: 2px solid black;
  width: 49%;
  height: 171px;
  margin-top: 10px;
  padding-left: 10px;
}

.update {
  margin-right: 20px;
  margin-left: 450px;
  margin-top: 36px;
}

.add {
  margin-right: 20px;
  margin-left: 450px;
  margin-top: 36px;
}
.tabs{
  border: 2px solid black;width: 99%;height: 55px; margin-top: 10px;
}
.containerMain{
  border: 2px solid black;width: 99%;height: 100px;
}